<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.humane.smps.mapper.AdminScoreMapper">
    <select id="sheet" resultType="com.humane.smps.dto.SheetDto">
        SELECT
            admission.admission_nm,
            exam.exam_cd,
            exam.type_nm,
            exam.exam_nm,
            hall.hall_cd,
            hall.head_nm,
            hall.bldg_nm,
            hall.hall_nm,
            sheet.scorer_nm,
            sheet.sheet_no,
            sheet.reg_dttm,
            sheet.cancel_dttm
         FROM sheet
        INNER JOIN exam ON exam.exam_cd = sheet.exam_cd
        INNER JOIN admission ON admission.admission_cd = exam.admission_cd
        INNER JOIN hall ON hall.hall_cd = sheet.hall_cd
        <where>
            <if test="param != null">
                <if test="param.userAdmissions != null">AND admission.admission_cd IN (${param.userAdmissions})</if>
                <if test="param.isCancel == true">AND sheet.cancel_dttm IS NOT NULL</if>
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND exam.type_nm = #{param.typeNm}</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
                <if test="param.sheetNo != null">AND sheet.sheet_no = #{param.sheetNo}</if>
                <if test="param.scorerNm != null">AND sheet.scorer_nm LIKE '%' #{param.scorerNm} '%'</if>
            </if>
        </where>
    </select>

    <select id="fix" resultType="com.humane.smps.dto.ScoreFixDto">
        SELECT
            admission.admission_nm,
            exam.exam_cd,
            exam.type_nm,
            exam.exam_nm,
            examinee.examinee_cd,
            examinee.dept_nm,
            examinee.major_nm,
            hall.hall_cd,
            hall.head_nm,
            hall.bldg_nm,
            hall.hall_nm,
            exam_map.virt_no,
            exam_map.hall_date AS exam_date,
            a.scorer_nm,
            a.update_cnt
        FROM (
                SELECT
                    score_log.exam_cd,
                    score_log.hall_cd,
                    score_log.virt_no,
                    score_log.scorer_nm,
                    count(*) - 1 AS update_cnt
                 FROM score_log
                WHERE score_log.sheet_no IS NULL
                GROUP BY score_log.exam_cd, score_log.hall_cd, score_log.virt_no, score_log.scorer_nm
                HAVING count(*) > 1
         ) a
        INNER JOIN exam_map ON a.exam_cd = exam_map.exam_cd AND a.hall_cd = exam_map.hall_cd AND a.virt_no = exam_map.virt_no
        INNER JOIN exam ON exam_map.exam_cd = exam.exam_cd
        INNER JOIN hall ON exam_map.hall_cd = hall.hall_cd
        INNER JOIN examinee ON exam_map.examinee_cd = examinee.examinee_cd
        INNER JOIN admission ON exam.admission_cd = admission.admission_cd
        <where>
            <if test="param != null">
                <if test="param.userAdmissions != null">AND admission.admission_cd IN (${param.userAdmissions})</if>
                <if test="param.admissionNm != null">AND admission.admission_nm = #{param.admissionNm}</if>
                <if test="param.typeNm != null">AND exam.type_nm = #{param.typeNm}</if>
                <if test="param.examDate != null">AND exam_map.hall_date = #{param.examDate}</if>
                <if test="param.majorNm != null">AND examinee.major_nm = #{param.majorNm}</if>
                <if test="param.deptNm != null">AND examinee.dept_nm = #{param.deptNm}</if>
                <if test="param.headNm != null">AND hall.head_nm = #{param.headNm}</if>
                <if test="param.bldgNm != null">AND hall.bldg_nm = #{param.bldgNm}</if>
                <if test="param.hallNm != null">AND hall.hall_nm = #{param.hallNm}</if>
                <if test="param.scorerNm != null">AND score_log.scorer_nm LIKE '%' #{param.scorerNm} '%'</if>
            </if>
        </where>
    </select>

    <select id="fixList" resultType="com.humane.smps.dto.ScoreDto">
        SELECT DISTINCT virt_no, score01, score02, score03, score04, score05
              , score06, score07, score08, score09, score10, scorer_nm
              , date_format(score_dttm,'%Y-%m-%d %H:%i:%s') AS rescore_dttm
        FROM score_log
        <where>
            AND score_log.sheet_no IS NULL
            <if test="param != null">
                <if test="param.virtNo != null">AND score_log.virt_no LIKE '%' #{param.virtNo} '%'</if>
                <if test="param.scorerNm != null">AND score_log.scorer_nm = #{param.scorerNm}</if>
            </if>
        </where>
        ORDER BY rescore_dttm
    </select>

    <select id="getItemCnt" resultType="java.lang.Long">
        SELECT max(cnt)
        FROM (
        SELECT count(*) AS cnt
        FROM item
        GROUP BY exam_cd
        ) a
    </select>
</mapper>