<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.humane.smps.mapper.StudentMapper">
    <select id="orderCnt" resultType="java.lang.Long">
        select count(*)
        from exam_map
        inner join exam on exam.exam_cd = exam_map.exam_cd
        inner join admission on admission.admission_cd = exam.admission_cd
        <where>
            AND group_nm is not null
            <if test="param != null">
                AND admission.admission_cd = #{param}
            </if>
        </where>
    </select>

    <select id="order" resultType="com.humane.smps.dto.ExamineeDto">
        select result.*
        from (select admission.admission_cd, admission.admission_nm, exam.type_nm
        , examinee.examinee_cd, examinee.examinee_nm, exam_hall_date.hall_date as exam_date
        , (case when exam_map.group_nm is null then false else true end) as is_attend
        , max(case when exam_map.examinee_cd = examinee.examinee_cd then exam_map.group_nm end) as group_nm
        , max(case when exam_map.examinee_cd = examinee.examinee_cd then exam_map.group_order end) as group_order
        , max(case when exam_map.examinee_cd = examinee.examinee_cd then exam_map.debate_nm end) as debate_nm
        , max(case when exam_map.examinee_cd = examinee.examinee_cd then exam_map.debate_order end) as debate_order
        from exam_map
        inner join examinee on examinee.examinee_cd = exam_map.examinee_cd
        inner join exam on exam.exam_cd = exam_map.exam_cd
        inner join admission on admission.admission_cd = exam.admission_cd
        inner join exam_hall_date on exam_hall_date.exam_cd = exam_map.exam_cd and exam_hall_date.hall_date = exam_map.hall_date
        group by admission.admission_cd, exam_map.examinee_cd) result
        <where>
            <if test="param != null">
                <if test="param.admissionNm != null"> and result.admission_nm = #{param.admissionNm} </if>
                <if test="param.typeNm != null"> and result.type_nm = #{param.typeNm} </if>
                <if test="param.examDate != null"> and result.hall_date = #{param.examDate} </if>
                <if test="param.groupNm != null"> and result.group_nm = #{param.groupNm} </if>
                <if test="param.groupOrder != null"> and result.group_order = #{param.groupOrder} </if>
                <if test="param.debateNm != null"> and result.debate_nm = #{param.debateNm} </if>
                <if test="param.debateOrder != null"> and result.debate_order = #{param.debateOrder} </if>
            </if>
        </where>
    </select>
</mapper>
