<div layout:fragment="header">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
                sec:authorize="isAuthenticated()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="home" th:href="@{main}"><img src="images/home.png"/></a>
        <a class="header-title" th:href="@{main}">실기&amp;면접관리페이지</a>
    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right" sec:authorize="isAuthenticated()">
        <!--<label for="admissionNm">전형</label> <select id="admissionNm"></select>
        <label for="examDate">시험일자</label> <select id="examDate"> </select>
        <label for="examTime">시험시간</label> <select id="examTime"> </select>-->
        <li><a href="#"><img src="images/sync.png"/>&nbsp;&nbsp;출결시스템 연동</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user fa-fw"></i>
                <span sec:authorize="hasRole('ADMIN')">관리자</span>
                <span sec:authorize="hasRole('USER')">사용자</span>&nbsp;<i class="fa fa-caret-down"></i></a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a></li>
                <li class="divider"></li>
                <li>
                    <form th:action="@{/logout}" method="POST">
                        <a href="javascript:" onclick="parentNode.submit();">
                            <i class="fa fa-sign-out fa-fw"></i> 로그아웃
                        </a>
                    </form>
                </li>
            </ul>
            <!-- /.dropdown-user -->
        </li>
        <!-- /.dropdown -->
    </ul>
    <!-- /.navbar-top-links -->
</div>