<div class="navbar-default sidebar" role="navigation" layout:fragment="sidebar">
    <div class="sidebar-nav navbar-collapse">
        <div sec:authorize="hasRole('ADMIN')" class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="#"><img src="images/menu/M01.png"/> 응시율 통계<span class="fa arrow"></span></a>
                </li>
                <ul class="nav nav-second-level">
                    <li><a href="#status-dept"><img src="images/menu/M01_2.png"/> 모집단위별</a></li>
                    <li><a href="#status-major"><img src="images/menu/M01_3.png"/> 전공별</a></li>
                    <li><a href="#status-hall"><img src="images/menu/M01_4.png"/> 고사실별</a></li>
                    <li><a href="#status-group"><img src="images/menu/M01_5.png"/> 조별</a></li>
                </ul>
            </ul>
            <ul class="nav">
                <li>
                    <a href="#"><img src="images/menu/M02.png"/> 평가 관리<span class="fa arrow"></span></a>
                </li>
                <ul class="nav nav-second-level">
                    <li><a href="#score-print"><img src="images/menu/M02_1.png"/> 평가위원 점수출력</a></li>
                    <li><a href="#score-cancel"><img src="images/menu/M02_2.png"/> 채점마감 취소이력</a></li>
                    <li><a href="#score-fix"><img src="images/menu/M02_3.png"/> 평가점수 수정이력</a></li>
                </ul>
            </ul>
        </div>
    </div>
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav">
            <li sec:authorize="hasRole('ADMIN')">
                <a href="#"><img src="images/menu/M03.png"/> 데이터 &amp; 산출물<span class="fa arrow"></span></a>
            </li>
            <ul class="nav nav-second-level">
                <!--<li sec:authorize="hasRole('ADMIN')"><a href="#data-examinee"><img src="images/menu/M03_1.png"/> 수험생별 종합</a>
                </li>-->
                <li><a href="#data-virtNoList"><img src="images/menu/M03_2.png"/> 가번호 배정 현황</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#data-scorer-h"><img src="images/menu/M03_3.png"/> 채점자별
                    상세(가로)</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#data-scorer"><img src="images/menu/M03_4.png"/> 채점자별
                    상세(세로)</a></li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#data-draw"><img src="images/menu/M03_6.png"/> 동점자 현황</a>
                </li>
                <li sec:authorize="hasRole('ADMIN')"><a href="#data-report"><img src="images/menu/M03_5.png"/> 산출물 다운로드</a>
                </li>
            </ul>
            <li sec:authorize="hasRole('ADMIN')">
                <a href="#"><img src="images/menu/M04.png"/> 시스템 설정<span class="fa arrow"></span></a>
            </li>
            <ul sec:authorize="hasRole('ADMIN')" class="nav nav-second-level">
                <li><a href="#setting-data"><img src="images/menu/M04_1.png"/> 데이터 관리</a></li>
                <li><a href="#print-idCard"><img src="images/menu/M04_2.png"/> 수험표 출력</a></li>
            </ul>
        </ul>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="sidebar-nav navbar-collapse">
        <ul class="nav">
            <li>
                <a href="#"><img src="images/menu/M05.png"/> 데이터 검증<span class="fa arrow"></span></a>
            </li>
            <ul class="nav nav-second-level">
                <!--<li><a href="#check-send"><img src="images/menu/M05_1.png"/> 서버전송 리포트</a></li>-->
                <li><a href="#check-item"><img src="images/menu/M05_2.png"/> 전송 항목 수 불일치</a></li>
                <li><a href="#check-scorer"><img src="images/menu/M05_3.png"/> 평가위원 수 불일치</a></li>
            </ul>
        </ul>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="sidebar-nav navbar-collapse">
        <ul class="nav">
            <li>
                <a href="#"><img src="images/menu/M06.png"/> 특수기능<span class="fa arrow"></span></a>
            </li>
            <ul class="nav nav-second-level">
                <!--<li><a href="#check-send"><img src="images/menu/M05_1.png"/> 서버전송 리포트</a></li>-->
                <li><a href="#data-sqlEdit"><img src="images/menu/M06_1.png"/> &nbsp;SQL 편집기</a></li>
            </ul>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>